<form [formGroup]= "RegisterForm" (ngSubmit)="registerUser()">
<div class="headermain">
      <div class="main">
       <span class="l1">G</span><span class="l2">o</span><span class="l3">o</span><span class="l4">g</span><span class="l5">l</span><span class="l6">e</span>
       <h4 class="create">CREATE YOUR GOOGLE ACCOUNT</h4>
       <br>
       <div class="firsthead">
      
        <!-- <input id="fname"  type="text" placeholder="First Name*" formControlName="firstName">  -->
        <!-- <mat-form-field appearance="outline">  -->
         <!-- <mat-label>Outline form field</mat-label> -->
         
         <input id="fname" matInput placeholder="First Name*" formControlName="firstName">
         
       <div style="color:red;" *ngIf="submitted && f?.['firstName']?.errors?.['required']">First Name is required</div>
      <div style="color:red;" *ngIf="submitted && f?.['firstName']?.errors?.['minlength']">First Name should have at least 3 characters</div>  
        <!-- </mat-form-field> -->
          <!-- <input type="text" placeholder="Firstname*"  id="fname" >
          

          <!-- <input id="lname" type= text  placeholder="Last Name*"  formControlName="lastName">   -->
          <!-- <mat-form-field appearance="outline"> -->
          <input id="lname" matInput placeholder="Last Name*" formControlName="lastName">
          <div style="color:red;" *ngIf="submitted && f?.['lastName']?.errors?.['required']">Last Name is required</div>
          <div style="color:red;" *ngIf="submitted && f?.['lastName']?.errors?.['minlength']">Last Name should have atleast 3 characters</div>
         <!-- </mat-form-field>   -->
       </div>
       <div class="im1">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWhCs4f2YW-VqYSm1zPkcdznlX95UOuiO8tw&usqp=CAU " alt="security image">
       </div>
       
      <br>
       <div class="username">
          
          <!-- <input class="username" id="un" type= text placeholder="Username* @gmail.com"  formControlName="userName"> -->
          <input class="username" id="un" matInput placeholder="Username* @gmail.com" formControlName="userName">
          <mat-label>Enter your email</mat-label>
          <!-- <input matInput placeholder="username@gmail.com"  required formControlName="userName" id="un">
          @if (formControlName.invalid) {
            <mat-error>{{getErrorMessage("there is a error")}}</mat-error>} -->
          
          <div style="color:red;" *ngIf="submitted && f?.['userName']?.errors?.['required']">User Name is required</div>
          <div style="color:red;" *ngIf="submitted && f?.['userName']?.errors?.['email']">Email should be valid</div> 
          you can use letters,numbers & periods
          
          <p ><br>Use my current email instead</p>
      </div>
     

       
       <div  class="password">
     
          <input  matInput placeholder="Password*"   formControlName="password">
          

          <div style="color:red;" *ngIf="submitted && f?.['password']?.errors?.['required']">Password is required</div>   
          <div style="color:red;" *ngIf="submitted && f?.['password']?.errors?.['minlength']">Password should have atleast 3 characters</div>  


          <input  id="cf" matInput placeholder="Password*"   formControlName="cnf_pswd">
          <div style="color:red;" *ngIf="submitted && f?.['cnf_pswd']?.errors?.['passwordMismatch']">
             Password and Confirm Password do not match
           </div> 

          
          <p>Use 8 or more characters with a mix of letters,numbers & symbols</p>
       </div>
        <br>
       <input type="checkbox">
       <label id>ShowPassword</label>
       <!-- <mat-form-field >

       <mat-checkbox [formControl]="hideRequiredControl">Hide required marker</mat-checkbox></mat-form-field> -->
    
        
        <br>
        <br>
       <div class="signin">
          <p><a href="http://localhost:4200/signin" id="sinstead" style="text-decoration: none;">Sign in instead</a></p>
          <input style="border-radius: 8px;" id="in1" type="submit" value="Next" >
       </div>
    
    
      
      </div>
    </div>
</form>